@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<h1 class="display-1">this is the title h1</h1>

<h1>hello world. my website is now live!!!!!</h1>
<h2>hello world.</h2>
<h3>hello world.</h3>
<h4>hello world.</h4>
<h5>hello world.</h5>
<h6>hello world.</h6>
<p>
    this is my first web page.
    <br />
    this is what i want in the new line.
</p>
<p class="information">
    this is the other p tag 1
</p>
<p>
    this is the other p tag 2
</p>
<p>
    this is the other p tag 3
</p>
<p>
    this is the other p tag 4
</p>
<p>
    this is the other p tag 5
</p>

<a id="link1" class="btn btn-secondary" href="https://www.amazon.com" target="_blank">Amazon</a>

<button type="button" class="btn btn-link" onclick="buttonClicked()">Click Me</button>
<button type="button" class="btn btn-danger" onclick="buttonToChangeTextClicked()">Click Me To Change Text</button>
<button type="button" class="btn btn-success" id="hideTitleBtn()">Click Me To Hide Title</button>